<h2>New Question</h2>

<%= form_for @question do |f| %>
  <%= f.label :question_content %>
  <%= f.text_field :question_content %>
  <%= f.hidden_field :user_id, :value => session[:user_id]%>
  <%= f.submit "Submit Question"%>
<% end %>
