<% if session[:user_id] == nil %>
<p>Please sign in to view this page</p>
<% else %>

<% if @questions.any? %>
<h4>All Questions</h4>
<% @questions.each do |question| %>
<p><%= link_to question.question_content, question_path(question)%></p>
<% end %>
<% else %>
<p>There are no questions to display</p>
<% end %>
<p><%= link_to "Add a question", new_question_path%></p>

<% if @user.questions.any? %>
<h4>Your Questions</h4>
<% @user.questions.each do |question| %>
<p><%= link_to question.question_content, question_path(question)%></p>
<% end %>
<% else %>
<p>There are no questions to display</p>
<% end %>
<% if @user.answers.any? %>
<h4>Your Answers</h4>
<% @user.answers.each do |answer| %>
<p><%= link_to answer.answer, question_path(answer.question)%></p>
<% end %>
<% else %>
<p>There are no questions to display</p>
<% end %>
<p><%= link_to "Add a question", new_question_path%></p>
<%end%>
